@charset "UTF-8";

/* Footer style */
#footer {
	margin-top: auto;
	margin-bottom: 10px;
}

#footer-content {
	font-family: var(--primary-font);
	font-size: var(--fs-small);
	font-weight: var(--fw-light);
	text-align: center;
	color: var(--text-color);
	opacity: 0.6;
	margin-top: 30px;
	margin-bottom: 13px;
}