@charset "UTF-8";

/* Forms */
label {
	font-family: var(--primary-font);
	font-weight: var(--fw-regular);
	font-size: var(--fs-large);
}

input,
textarea,
select {
	font-family: var(--primary-font);
	font-weight: var(--fw-regular);
	font-size: var(--fs-large);
	border: 1.5px solid #d0d0df;
	border-radius: 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: border 0.08s;
}

textarea {
	resize: vertical;
}

input:focus {
	border: 1.5px solid transparent;
	box-shadow: 0 0 0 2px var(--primary-color);
}

.checkbox-with-label {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.checkbox-with-label > input[type=checkbox] {
	width: 10px;
	margin-right: 5px;
}

.checkbox-with-label > label {
	font-size: var(--fs-normal);
}

.input-container {
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8.6px;
}

.input-container input,
.input-container textarea,
.input-container select {
	width: 250px;	
}

.input-container label {
	margin-right: 20px;
}

.input-container p {
	font-family: var(--primary-font);
	font-weight: var(--fw-regular);
	font-size: var(--fs-large);
}

.input-group {
	border: 1.8px solid var(--border-color);
	border-radius: 8px;
	margin-bottom: 18px;
	margin-top: 18px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.input-group .head {
	font-family: var(--primary-font);
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-large);
	color: var(--text-color);
    background-color: white;
	margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
    position: relative;
    top: calc(-6px - var(--fs-large));
    left: -6px;
}