@charset "UTF-8";

/* Imports other CSS files */
@import 'links.css';
@import 'buttons.css';
@import 'forms.css';
@import 'navbar.css';
@import 'footer.css';

/* Global variables */
:root {
  /* Colors */
  --primary-color: #F06141;
  --danger-color: #f04141;
  --text-color: #000000;
  --border-color: #BBC1E1;
  
  /* Fonts */
  --primary-font: 'Outfit', sans-serif;
  
  /* Font sizes */
  --fs-title: 24px;
  --fs-large: 19px;
  --fs-normal: 16px;
  --fs-small: 13px;
  
  /* Font weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  
}

/* Remove default styles */
*:focus {
	outline: none;
}

/* Body style */
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}