@charset "UTF-8";

/* Global variables */
:root {
  /* Colors */
  --primary-color: #F06141;
  --text-color: #000000;
  --border-color: #BBC1E1;
  
  /* Fonts */
  --primary-font: 'Outfit', sans-serif;
  
  /* Font sizes */
  --fs-title: 24px;
  --fs-large: 19px;
  --fs-normal: 16px;
  --fs-small: 13px;
  
  /* Font weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  
}

/* Remove default styles */
*:focus {
	outline: none;
}

/* Link style */
a {
	text-decoration: none;
}

a.link,
a.link:visited {
	font-family: var(--primary-font);
	font-size: var(--fs-normal);
	font-weight: var(--fw-semi-bold);
	color: var(--text-color);
	transition: 0.4s;
	text-decoration: underline;
}

a.link:hover {
	color: var(--primary-color);
}

/* Buttons styles */
.btn-accent,
.btn-outline {
	font-family: var(--primary-font);
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-large);
	text-align: center;
	border: 3px solid var(--primary-color);
	border-radius: 13px;
	padding-left: 21px;
	padding-right: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
	transition: 0.45s;
	text-decoration: none!important;
}

.btn-accent,
.btn-outline:hover {
	background-color: var(--primary-color);
	color: white;
}

.btn-accent:hover,
.btn-outline {
	background-color: transparent;
	color: var(--primary-color);
}

.btn-accent:hover,
.btn-accent:hover {
	cursor: pointer;
}

/* Forms */
label {
	font-family: var(--primary-font);
	font-weight: var(--fw-regular);
	font-size: var(--fs-large);
}

input {
	font-family: var(--primary-font);
	font-weight: var(--fw-regular);
	font-size: var(--fs-large);
	border: 1.5px solid #d0d0df;
	border-radius: 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: border 0.08s;
}

input:focus {
	border: 2px solid var(--primary-color);
}

.checkbox-with-label {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.checkbox-with-label > input[type=checkbox] {
	width: 10px;
	margin-right: 5px;
}

.checkbox-with-label > label {
	font-size: var(--fs-normal);
}