@charset "UTF-8";

/* Item search page style */
#search-zone,
#category-zone {
	margin-bottom: 10px;
}

#filters {
	margin-bottom: 20px;
}

#items a {
	margin: 10px;
	border-radius: 24px;
}

a .item {
	transition: box-shadow 0.3s ease-in-out;
	padding-top: 16.67px;
	padding-bottom: 16.67px;
	padding-left: 23.33px;
	padding-right: 23.33px;
}

a:hover .item {
	box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
}

.item img {
	width: 150px;
	height: 165px;
	object-fit: cover;
}

.item-text h5 {
	font-family: var(--primary-font);
	font-weight: var(--fw-regular);
	font-size: var(--fs-large);
	color: var(--text-color);
	text-decoration: underline;
	transition: 0.3s;
	margin-top: 0;
	margin-bottom: 12.66px;
}

a:hover .item-text h5 {
	color: var(--primary-color)!important;
}

.item-text ul {
	font-family: var(--primary-font);
	font-weight: var(--fw-light);
	font-size: var(--fs-normal);
	color: var(--text-color);
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.item-text ul li {
	margin-bottom: 12.67px;
}

.item-text ul li:last-of-type {
	margin-bottom: 0;
}